@font-face {
  font-family: "GT Walsheim Pro";
  src: url("https://assets.ctfassets.net/qx1dg9syx02d/4Dc4toUiYTF0x6N9KrkvoM/6d63f8224488311101dde30881e9f361/GT-Walsheim-Pro-Light.eot");
  src: url("https://assets.ctfassets.net/qx1dg9syx02d/2njs2KpH9J7ReTEyNRAUjl/2801b191aadfc59eb74eeb1d6001fcdf/GT-Walsheim-Pro-Light.woff")
      format("woff"),
    url("https://assets.ctfassets.net/qx1dg9syx02d/7B0jvO2rEELBkXhMy6TZpf/0db731d8efaf271ac99c182c54a67827/GT-Walsheim-Pro-Light.woff2")
      format("woff2"),
    url("https://assets.ctfassets.net/qx1dg9syx02d/4Dc4toUiYTF0x6N9KrkvoM/6d63f8224488311101dde30881e9f361/GT-Walsheim-Pro-Light.eot")
      format("embedded-opentype");
}

@font-face {
  font-family: "Domaine Display";
  src: url("https://assets.ctfassets.net/qx1dg9syx02d/6IuEKW1wVU6UUpA150DwDY/de4614619609f5290641dff65cf573ab/DomaineDisplayWeb-Regular.eot");
  src: url("https://assets.ctfassets.net/qx1dg9syx02d/4OUjyBheZQlfntjN8eC54y/268f42ce87de57562c4cb53754aed709/DomaineDisplayWeb-Regular.woff")
      format("woff"),
    url("https://assets.ctfassets.net/qx1dg9syx02d/4cr202Hpb4qQS640z9aNg8/d84f4b62710b7e58e1198fcdac4b6f09/DomaineDisplayWeb-Regular.woff2")
      format("woff2"),
    url("https://assets.ctfassets.net/qx1dg9syx02d/6IuEKW1wVU6UUpA150DwDY/de4614619609f5290641dff65cf573ab/DomaineDisplayWeb-Regular.eot")
      format("embedded-opentype");
}

$primary: #3a3a3a;
$secondary: #8c6e43;
$danger: #be1217;
$success: #3e7957;
$light: #fefaf6;

$custom-colors: (
  "tertiary": #bca279,
);

$enable-rounded: false;

$font-family-sans-serif: "GT Walsheim Pro",
  // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Chrome < 56 for macOS (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue",
  Arial,
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$input-border-color: $primary;
$input-placeholder-color: $primary;
$input-bg: transparent;
$input-border-width: 2px;
$input-line-height: 1;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./stala.scss";
