@use "sass:map";
// @use "sass:math";

$navbar-height: 70px;
$alert-height: 34px;

// Nav

.stala-logo {
  letter-spacing: 2px;
}

.stala-nav-item {
  letter-spacing: 2px;
  margin-right: 1.2rem;
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
  &.show {
    height: auto;
    max-height: 999px;
    transition: max-height 0.4s cubic-bezier(1, 0, 1, 0);
  }
}

// Jumbotron

.image-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-lead {
  min-width: 190px;
}

.navbar {
  height: $navbar-height;
}

.small-title {
  font-weight: 800;
  line-height: 1.2;
  font-size: 0.85rem;
}

.product-carousel {
  .carousel-inner {
    display: flex;

    .carousel-item {
      display: block;
      margin-right: unset;
    }
  }
}

.sidepanel {
  display: block !important;
  height: calc(100vh - #{$navbar-height});
  position: absolute;
  padding: map.get($spacers, 3);
  margin-top: $navbar-height;
  top: 0;
  left: 0;
  width: 100%;
}

@include media-breakpoint-up(lg) {
  .sidepanel {
    display: none;
    height: auto;
    background-color: transparent;
    position: unset;
    color: inherit;
    padding: inherit;
    margin-top: inherit;
  }
}
