.stala-logo {
  letter-spacing: 2px;
}

.stala-nav-item {
  letter-spacing: 2px;
  margin-right: 1.2rem;
}

.image-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-lead {
  min-width: 190px;
}
